
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap');


* {
box-sizing: border-box;
    font-family: "raleway"; 
}
a {
    color: inherit ;
    text-decoration: none ;
}


nav {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
nav a {
    padding: 32px;
    border-top: 3px solid transparent;

}


.hebergact2 a:hover {
    border-top-color: #0065FC;
    color: #0065FC;
}

#logo  {
    
    margin-right: auto;
    padding: 0 32px;
  
    
}


  @media  (max-width: 768px) {
    .hebergact  { 
      width: 100%;
     } }


.hebergact2 a {
    flex-basis: 50%;
    text-align: center;
}
.hebergact2 { 
    display: flex;
}

 /* Grand titre */

.Trouvez {
    padding: 0 32px;
}
.Trouvez p {
    margin-bottom: 16px;
}
.recherche { 
    display: flex;
    padding-top: 10px;

}
i { padding: 16px;
  
}


.recherche input {
    padding-right: 96px;
    border-right: 1px solid #F2F2F2 ;
    border: 2px solid #F2F2F2;
    overflow: auto;
    
}

input::placeholder {
    font-weight: bold;
    color: black;
    font-size: medium;
    padding-left: 16px;
   
}
.fas.fa-map-marker-alt
{
    padding: 16px 19px;
    background-color:#F2F2F2;
    border-radius: 16px 0 0 16px;
}
.recherche button {
    background-color: #0065FC;
    color: white;
    font-size: medium;
    font-weight: bold;
    border-radius: 0 16px 16px 0;
    padding: 16px 24px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    transition: transform 200ms;
}
.recherche button:hover {
    opacity: 1;
    transform: scale(1.03);

}

/* Filtres */
.filtres-liste {
  display: flex;
    align-items: center;
    gap: 16px 32px;
    flex-wrap: wrap;
    margin-bottom: 16px;
    margin-left: 40px;
}

.filter .fas
{ 
    color: #0065FC;
    background-color: lightblue;
 
    border-radius: 50%; 
    margin: -2px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.filter {
    border: 2px solid lightgrey;
    border-radius: 32px;
    display: flex;
    align-items: center;
    transition: all 100ms ;
}
.filter span  {
  
    font-weight: bold;
    padding: 0 16px ;
}
.filter:hover {
    background-color: lightblue;
    color: #0065FC;
    transform: scale(1.02);
}


/* info Resultats recherche */

.message-resultat {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left:40px ;


}
.message-resultat .fas 
{ color: #0065FC;
    width: 32px ;
    height: 32px  ;
    border: 2px solid lightgrey;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* liste appartement a marseille */

.appartements-liste { 
    display: flex;
    gap:16px;
    margin: 40px;
}

.appartements-liste > div {
    
    background-color: #F2F2F2;
    padding: 60px;
    border-radius: 16px;
} 

.appartements-liste .ville {
    flex-basis: 66%;
}
.appartements-liste .ville a {
    font-weight: bold;}

.appartements-liste .populaire {
    flex-basis: 33%;
}

@media (max-width: 768px){
    .appartements-liste {
    flex-direction: column;
}

.populaire {
    order: -1;
}}

/* Hebergement à Marseille */

.ville-appartements-liste {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    margin-bottom: 16px;
}



/* Les plus populaires */

.appartements-liste .populaire-flex {
    display: flex;
    flex-direction: column;
    gap: 16px; 
    flex-wrap: wrap;
    flex-basis:100% ;
    justify-content: space-evenly

}



@media (max-width: 768px){
    .appartements-liste .populaire-flex {
        flex-direction: row;
    }
}
/* Cartes hebergement */

.appartements-carte {
    background-color: white;
    border-radius: 16px;
    padding: 8px;
    box-shadow: 0 0 16px #0000002e;
    flex-grow: 1;
    transition: all 0.2s;
    flex-basis: 30%;
    min-width: 240px;
}
.appartements-carte:hover {
    transform: scale(1.02);
    box-shadow: 3px 5px 11px -5px #000000;
}

.appartements-carte img {
    border-radius: 16px 16px 0 0;
    height: 160px;
    width: 100%;
    object-fit: cover;
    object-position: top;
    
}
.appartements-carte p,
.appartements-carte h3,
.populaire-description p,
.populaire-description h3 {
    margin: 3px;
}
.blue {color: #0065FC;}

.grey {color: grey;}

.appartements-carte .etoiles i {
    padding: 0;
}

/* Liste cartes populaires */

.populaire {
    display: flex;
    flex-direction: column;
}



.populaire-carte.appartements-carte img {
    height: auto;
    border-radius: 16px 0 0 16px;
    width: 40%;
    margin-right: 10px;
}
.populaire-description {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}

.populaire-carte {
    display: flex;
    min-width: 240px;
    max-height: 160px;

}
.populaire-carte .etoiles {
    margin-top: auto;
}


.populaire-description .etoiles i {
    padding: 0;
   
}
.populaire h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.populaire h3, .ville h3
 {
    margin-top: 8px; }

    /* Activités à Marseille */

.ActivitesM {
    display: flex;
    flex-direction: column;
    margin: 50px 40px;
    }
.activites-marseille {
    display: flex;
    flex-basis: 100%;        
    border: 1px solid red;
    padding: 30px;
    gap: 16px;
    }
.partie-gauche {
    display: flex;
    flex-basis: 50%;
    border: 1px solid orange;

    }
.partie-droite {
    display: flex;
    flex-basis: 50%;
    border: 1px solid green;

    }
.activites-vieuxport {
    border: 1px solid blue;



}
.activites-calanques {
    border: 1px solid purple;
}
.partie-gauche-droite {
    border: 1px solid yellow;
}

.partie-droite-droite {
    border: 1px solid black;
}



.activites-vieuxport  {
     width: 400px;
     height: 600px;}

.activites-vieuxport img {
    width: 100%;
    height: 100%;
}



.activites-calanques  { 
    width: 400px;
    height: 600px;}

.activites-calanques img {
    width: 100%;
    height: 100%;
}

.activites-pomegues {
    width: 400px;
    height: 300px;
    margin-bottom: 60px;


}
.activites-pomegues img {
    width: 100%;
    height: 100%;
}

.activites-frioul {
    width: 400px;
    height: 300px;

}
.activites-frioul img {
    width: 100%;
    height: 100%;

}


.activites-notredame {
    width: 400px;
    height: 300px;
    margin-bottom: 60px;


}


.activites-notredame img {
    width: 100%;
    height: 100%;

}

.activites-longchamp {
    width: 400px;
    height: 300px;

}


.activites-longchamp img {
    width: 100%;
    height: 100%;

}



.activites-marseille div {
    flex-basis: 100%;
    gap: 32px;
}




footer {
    background-color:  #F2F2F2;
    height: auto;
    width: 100%;
  
}
.contenue-footer {
    margin-top: 7rem;
   display: flex;
   justify-content: space-around;
   font-size: 30px;
}