
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap');


* {
box-sizing: border-box;
    font-family: "raleway"; 
}

body {
    margin: 0;
}
a {
    color: inherit ;
    text-decoration: none ;
}
header {
    display: flex;

    justify-content: space-between;
    align-items: center;
}


nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a {
    padding: 32px;
    
    border-top: 3px solid transparent;
}
.navbar {
    display: flex;
    margin: 0;
}


.navbar2 a:hover {
    border-top-color: #0065FC;
    color: #0065FC;
}

#logo  {
    padding: 0 32px;
    height: auto;
    width: 180px;
  
}


.navbar2 a {
    flex-basis: 50%;
    text-align: center;
}
.navbar2 { 
    display: flex;
}

 /* Grand titre */

.Titre {
    padding: 0 32px;
}

.Titre p {
    margin-bottom: 16px;
}

.recherche { 
    display: flex;
    padding-top: 10px;
}

i { 
    padding: 16px;
  
}

.recherche input {
    padding-right: 96px;
    border-right: 1px solid #F2F2F2 ;
    border: 2px solid #F2F2F2;
    overflow: auto;
}

input::placeholder {
    font-weight: bold;
    color: black;
    font-size: medium;
    padding-left: 16px;
}

.fas.fa-map-marker-alt {
    padding: 16px 19px;
    background-color:#F2F2F2;
    border-radius: 16px 0 0 16px;
}

.recherche button {
    background-color: #0065FC;
    color: white;
    font-size: medium;
    font-weight: bold;
    border-radius: 0 16px 16px 0;
    padding: 16px 24px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    transition: transform 200ms;
}

.recherche button:hover {
    opacity: 1;
    transform: scale(1.03);
}

.fas.fa-search {
    display: none;}




/* Filtres */

.Titre-filtres {
    margin-left: 32px;
}

.filtres-liste {
  display: flex;
    align-items: center;
    gap: 16px 32px;
    flex-wrap: wrap;
    margin-bottom: 16px;
    margin-left: 40px;
}

.filter .fas { 
    color: #0065FC;
    background-color: lightblue;
    border-radius: 50%; 
    margin: -2px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter {
    border: 2px solid lightgrey;
    border-radius: 32px;
    display: flex;
    align-items: center;
    transition: all 100ms ;
}

.filter span  {
    font-weight: bold;
    padding: 0 16px ;
}

.filter:hover {
    background-color: lightblue;
    color: #0065FC;
    transform: scale(1.02);
    cursor: pointer;

}

/* info Resultats recherche */

.message-resultat {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left:40px ;
}

.message-resultat .fas { 
    color: #0065FC;
    width: 32px ;
    height: 32px  ;
    border: 2px solid lightgrey;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* liste appartement a marseille */

.appartements-liste { 
    display: flex;
    gap:16px;
    margin: 40px;
}

.appartements-liste > div {
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 16px;
} 

.appartements-liste .ville {
    flex-basis: 66%;
}
.appartements-liste .ville a {
    font-weight: bold;
}

.appartements-liste .populaire {
    flex-basis: 33%;
}



/* Hebergement à Marseille */

.ville-appartements-liste {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-around;
    margin-bottom: 16px;
}

/* Les plus populaires */

.appartements-liste .populaire-flex {
    display: flex;
    flex-direction: column;
    gap: 16px; 

}



/* Cartes hebergement */

.appartements-carte {
    background-color: white;
    border-radius: 16px;
    padding: 8px;
    box-shadow: 0 0 16px #0000002e;
    flex-grow: 1;
    transition: all 0.2s;
    width: 25%;
}

.appartements-carte:hover {
    transform: scale(1.02);
    box-shadow: 3px 5px 11px -5px #000000;
}

.appartements-carte img {
    border-radius: 16px 16px 0 0;
    height: 160px;
    width: 100%;
    object-fit:cover;
    
}
.appartements-carte p,
.appartements-carte h3,
.populaire-description p,
.populaire-description h3 {
    margin: 3px;
    
}

.nap {
    font-size: 13px;
    font-weight: normal;
}

.blue {color: #0065FC;}

.grey {color: grey;}

.appartements-carte .etoiles i {
    padding: 0;
}


/* Liste cartes populaires */

.populaire {
    display: flex;
    flex-direction: column;
}

.appartements-carte img {
    height: 150px;
    border-radius: 16px 16px 0 0px;
    margin-right: 10px;
}

.populaire img {
    height: 150px;
    width: 150px;
   border-radius: 16px 0px 0px 16px;
   padding: 8px;
   transition: all 0.2s;

}

.populaire-description {
    display: flex;
    flex-direction: column;

}

.populaire-carte {
    display: flex;
   width: 100%; 
   background-color: white;
   border-radius: 16px 16px 16px 16px;
   position: relative;

}
.populaire-description .etoiles {
    position: absolute;
    bottom: 10px;
}

.populaire-description .etoiles i {
    padding: 0;
}

.populaire h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.populaire h3, .ville h3
 {
    margin-top: 8px; }

    .populaire-carte:hover {
        transform: scale(1.02);
        box-shadow: 3px 5px 11px -5px #000000;
    }


    /* Activités à Marseille */

.ActivitesM {
    display: flex;
    flex-direction: column;
    margin: 50px 40px;
    }

.activites-marseille {
    display: flex;
    flex-basis: 100%;     
    width: 100%;   
    padding: 30px;
    gap: 32px;
    }



.activites-vieuxport  {
     height: 100%;}

.activites-vieuxport img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px 32px 0 0;

}

.colonne1, .colonne2, .colonne3, .colonne4 {
    width: 25%;

}



.activites-calanques  { 
    width: 100%;
    height: 100%;
}

.activites-calanques img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px 32px 0 0;
    
}

.activites-pomegues {
    width: 100%;
    height: 165px;
    margin-bottom: 125px;
}

.activites-pomegues img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px 32px 0 0;
}

.activites-frioul {
    width: 100%;
    height: 110px;

}
.activites-frioul img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px 32px 0 0;

}

.activites-notredame {
    width: 100%;
    height: 110px;
    margin-bottom: 125px;

}

.activites-notredame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px 32px 0 0;


}

.activites-longchamp {
    width: 100%;
    height: 165px;
    
    

}

.activites-longchamp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px 32px 0 0;

}

.activites-marseille {
    flex-basis: 100%;
    height: 600px;
    gap: 32px;
}

.activites-marseille h3 {
    background-color: white;
    font-size: 17px;
    margin: -5px 0px;
    padding: 20px;
    border-radius: 0 0 32px 32px;
    box-shadow: 0 0 16px #0000002e;

}

.activites-vieuxport:hover , .activites-pomegues:hover , .activites-frioul:hover,
.activites-calanques:hover , .activites-notredame:hover, .activites-longchamp:hover

{
    transform: scale(1.02);
    box-shadow: 3px 5px 11px -5px #000000;

}

    /* Footer */ 


footer {
    background-color:  #F2F2F2;
    height: auto;
    width: 100%;
    
  
}
footer a {
    display: block;
}
.contenue-footer {
    margin-top: 112px;
   display: flex;
   justify-content: space-around;
   font-size: 20px;

}

.contenue-footer a:hover {
    text-decoration: underline black;
}

/* Responsive*/

@media (max-width: 992px){
    .loupe {display: none;}
    
    .fas.fa-search {
        display: inline;
    }
 
    .populaire-flex {
       flex-direction: column;
   }
   .appartements-liste {
       flex-direction: column-reverse;
   }
   .ville-appartements-liste {
       flex-direction: column;
   }
   .appartements-carte {
       width: 100%;

   }

   .ActivitesM {
    height: 1320px;

   }

   .activites-marseille {
    flex-direction: column;
}
.colonne1 , .colonne2 , .colonne3 , .colonne4 {
    
    width: 100% ;
    height: 150px;
    margin-bottom: 70px;
}
   .contenue-footer {
            
    flex-direction: column; 
    margin-left: 32px;
    }
  
}
@media  (max-width: 768px) {
    header { 
     flex-direction: column;
    }
  .navbar  { 
    width: 100%;
    display: flex;

   } 
   .filtres-liste {
       margin-left: 0;
   }
   .appartements-liste {
       margin: 0;
   }
  
   #logo {
    margin: auto;}

    .ActivitesM {
        margin: 0;
    }
    .activites-marseille {
        padding: 0;
    }
}

    @media (max-width:500px) {

        .populaire-carte {
   
}
.populaire img {
    width: 100px;

}
.populaire-description p {
    margin-bottom: 10px;
}

    }
   
